.page1 {
  position: relative;
  width: 9.5in;
  height: 4.125in;
  margin: 0;
  padding: 0;
  background-color: white;
}

.stampSection {
  position: absolute;
  right: 0.35in;
  top: 0.25in;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0.75in;
  min-height: 0.75in;
  font-size: 0.8rem;
  color: grey;
  padding: 0.25rem;
}

.fromAddress {
  position: absolute;
  left: 0.35in;
  top: 0.2in;
  z-index: 3;
  text-align: left;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  color: #4945bf;
  line-height: 1.5;
  font-family: 'biro_script_standard_us', cursive;
}

.toAddress {
  position: absolute;
  left: 3.5in;
  top: 1.35in;
  z-index: 3;
  text-align: left;
  font-size: 29px;
  display: flex;
  flex-direction: column;
  transform: rotate(-2deg);
  color: #4945bf;
  line-height: 1.75;
  font-family: 'biro_script_standard_us', cursive;
}
